:root {

    /* Font Family */
    --font-family-base:             'Montserrat', sans-serif;
    --font-family-second:           'Cormorant Garamond', serif;
    --font-family-third:            'Mulish', sans-serif;

    /* Font Weight */
    --fw-lighter:         lighter;
    --fw-light:           300;
    --fw-normal:          400;
    --fw-medium:          500;
    --fw-semibold:        600;
    --fw-bold:            700;
    --fw-bolder:          bolder;

    /* Font Size */
    --fs-0:	        0rem;

    --fs-1:	        0.0625rem;
    --fs-2:	        0.125rem;
    --fs-3:	        0.1875rem;
    --fs-4:	        0.25rem;
    --fs-5:	        0.3125rem;
    --fs-6:	        0.375rem;
    --fs-7:	        0.4375rem;
    --fs-8:	        0.5rem;
    --fs-9:	        0.5625rem;
    --fs-10:	    0.625rem;

    --fs-11:	    0.6875rem;
    --fs-12:	    0.75rem;
    --fs-13:	    0.8125rem;
    --fs-14:	    0.875rem;
    --fs-15:	    0.9375rem;
    --fs-16:	    1rem;
    --fs-17:	    1.0625rem;
    --fs-18:	    1.125rem;
    --fs-19:	    1.1875rem;
    --fs-20:	    1.25rem;

    --fs-21:	    1.3125rem;
    --fs-22:	    1.375rem;
    --fs-23:	    1.4375rem;
    --fs-24:	    1.5rem;
    --fs-25:	    1.5625rem;
    --fs-26:	    1.625rem;
    --fs-27:	    1.6875rem;
    --fs-28:	    1.75rem;
    --fs-29:	    1.8125rem;
    --fs-30:	    1.875rem;

    --fs-31:	    1.9375rem;
    --fs-32:	    2rem;
    --fs-33:	    2.0625rem;
    --fs-34:	    2.125rem;
    --fs-35:	    2.1875rem;
    --fs-36:	    2.25rem;
    --fs-37:	    2.3125rem;
    --fs-38:	    2.375rem;
    --fs-39:	    2.4375rem;
    --fs-40:	    2.5rem;

    --fs-41:	    2.5625rem;
    --fs-42:	    2.625rem;
    --fs-43:	    2.6875rem;
    --fs-44:	    2.75rem;
    --fs-45:	    2.8125rem;
    --fs-46:	    2.875rem;
    --fs-47:	    2.9375rem;
    --fs-48:	    3rem;
    --fs-49:	    3.0625rem;
    --fs-50:	    3.125rem;

    --fs-51:	    3.1875rem;
    --fs-52:	    3.25rem;
    --fs-53:	    3.3125rem;
    --fs-54:	    3.375rem;
    --fs-55:	    3.4375rem;
    --fs-56:	    3.5rem;
    --fs-57:	    3.5625rem;
    --fs-58:	    3.625rem;
    --fs-59:	    3.6875rem;
    --fs-60:	    3.75rem;

    --fs-61:	    3.8125rem;
    --fs-62:	    3.875rem;
    --fs-63:	    3.9375rem;
    --fs-64:	    4rem;
    --fs-65:	    4.0625rem;
    --fs-66:	    4.125rem;
    --fs-67:	    4.1875rem;
    --fs-68:	    4.25rem;
    --fs-69:	    4.3125rem;
    --fs-70:	    4.375rem;

    --fs-71:	    4.4375rem;
    --fs-72:	    4.5rem;
    --fs-73:	    4.5625rem;
    --fs-74:	    4.625rem;
    --fs-75:	    4.6875rem;
    --fs-76:	    4.75rem;
    --fs-77:	    4.8125rem;
    --fs-78:	    4.875rem;
    --fs-79:	    4.9375rem;
    --fs-80:	    5rem;

    --fs-81:	    5.063rem;
    --fs-82:	    5.125rem;
    --fs-83:	    5.188rem;
    --fs-84:	    5.25rem;
    --fs-85:	    5.313rem;
    --fs-86:	    5.375rem;
    --fs-87:	    5.438rem;
    --fs-88:	    5.5rem;
    --fs-89:	    5.5625rem;
    --fs-90:	    5.625rem;

    --fs-91:	    5.6875rem;
    --fs-92:	    5.75rem;
    --fs-93:	    5.8125rem;
    --fs-94:	    5.875rem;
    --fs-95:	    5.9375rem;
    --fs-96:	    6rem;
    --fs-97:	    6.0625rem;
    --fs-98:	    6.125rem;
    --fs-99:	    6.1875rem;
    --fs-100:	    6.25rem;


    --fs-128:	    8rem;
    --fs-130:	    8.25rem;
    --fs-140:	    8.75rem;
    --fs-150:	    9.375rem;
    --fs-175:	    10.9375rem;
    --fs-176:	    11rem;
    --fs-190:	    11.875rem;
    --fs-192:	    12rem;

    --fs-200:	    12.5rem;
    --fs-210:	    13.125rem;
    --fs-240:	    15rem;
    --fs-280:	    17.5rem;
    --fs-291:        18.188rem;

    --fs-320:	    20rem;
    --fs-370:	    23.125rem;

    --fs-400:	    25rem;

    --fs-500:	    31.25rem;
    --fs-592:	    37rem;

    --fs-600:	    37.5rem;
    --fs-680:	    42.5rem;

    /* Theme Colors */
    --color-primary:        #54595f;
    --color-secondary:      #a6a182;
    --color-success:        #00b44b;
    --color-danger:         #c50000;
    --color-warning:        #ffae00;
    --color-info:           #14a0e0;
    --color-white:          #ffffff;
    --color-black:          #000000;
    --color-blue:           #1220a3;
    --color-green:          #17970b;
    --color-red:            #ff0000;
    --color-yellow:         #ffee00; 
    --color-dark:           #232323; 
    --color-muted:          #999999; 

    /* Responsive Breakdown */
    --breakpoint-extralargedesktop: 1400px;
    --breakpoint-largedesktop: 1199px;
    --breakpoint-desktop: 991px;
    --breakpoint-tablet: 767px;
    --breakpoint-mobile: 600px;
    --breakpoint-minimobile: 500px;

    /* Space Variables */
    --space-0: 0px;
  
    --space-5: 5px;
    --space-10: 10px;
    --space-15: 15px;
    --space-20: 20px;
    --space-25: 25px;
    --space-30: 30px;
    --space-35: 35px;
    --space-40: 40px;
    --space-45: 45px;
    --space-50: 50px;
    --space-55: 55px;
    --space-60: 60px;
    --space-65: 65px;
    --space-70: 70px;
    --space-75: 75px;
    --space-80: 80px;
    --space-85: 85px;
    --space-90: 90px;
    --space-95: 95px;
    --space-100: 100px;
    --space-120: 120px;
    --space-150: 150px;
    --space-180: 180px;
    --space-200: 200px;
    --space-240: 240px;
    --space-250: 250px;
    --space-260: 260px;
    --space-290: 290px;
}



/* Reset */
html {
    scroll-behavior: smooth;
    font-size: 100%;
}
body{
    position: relative;
    font-family: var(--font-family-base);
    background-color: var(--color-black);
    color: var(--color-white);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	transition: all 0.5s ease-in-out;
    font-size: var(--fs-16);
    line-height: var(--fs-26);
}

.container {
    position: relative;
}
.container-fluid, .container-lg, .container-xl, .container-xxl {
    max-width: 1920px;
}

/* min-width: 1600px */
@media screen and (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}
/* min-width: 1200px */
@media screen and (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}
/* min-width: 1199px */
@media screen and (max-width: 1199px) {
    .container {
        max-width: 100%;
    }
}
main,
.wrapper {
    position: relative;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-base);
    font-weight: var(--fw-bold);
    margin-top: 0px;
    margin-bottom: 0px;
}

.h1, h1{
    font-size: var(--fs-48);
    line-height: var(--fs-52); /* set "line-height" based on "font-family" */
}
.h2, h2{
    font-size: var(--fs-36);
    line-height: var(--fs-48); /* set "line-height" based on "font-family" */
}
.h3, h3{
    font-size: var(--fs-30);
    line-height: var(--fs-36); /* set "line-height" based on "font-family" */
}
.h4, h4{
    font-size: var(--fs-24);
    line-height: var(--fs-30); /* set "line-height" based on "font-family" */
}
.h5, h5{
    font-size: var(--fs-20);
    line-height: var(--fs-28); /* set "line-height" based on "font-family" */
}
.h6, h6{
    font-size: var(--fs-16);
    line-height: var(--fs-24); /* set "line-height" based on "font-family" */
}

a{
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    outline: none;
}
a:hover{
    color: var(--color-black);
    text-decoration: none;
    outline: none;
}

.clearfix{
    clear: both;
}
.divider{
    margin: 30px 0px;
    display: inline-block;
}
table {
    margin-bottom: 10px;
    border: 1px solid rgba(var(--color-black), 0.3);
}
table td, table th {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(var(--color-black), 0.3);
    border-right: 1px solid rgba(var(--color-black), 0.3);
    text-align: center;
}
img{
    max-width: fit-content;
}

.section, section{
    position: relative;
    padding: 100px 0px;
    z-index: 1;
}


/* Default Input type */
select,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"]{
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 30px;
    font-size: var(--fs-14);
    font-weight: var(--fw-semibold);
    background-color: var(--color-white);
    color: var(--color-dark);
    background-clip: padding-box;
    border: 1px solid var(--color-dark);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
}
textarea.form-control{
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px 40px;
    font-size: var(--fs-14);
    font-weight: var(--fw-semibold);
    background-color: var(--color-white);
    color: var(--color-dark);
    background-clip: padding-box;
    border: 1px solid var(--color-dark);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea.form-control:focus{
    border-color: var(--color-primary);
    outline: none;
    outline-offset: 0px;
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}

label {
    display: inline-block;
    color: var(--color-black);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}

::-webkit-input-placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}
::-moz-placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}
:-ms-input-placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}
:-moz-placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}
:placeholder {
    color: rgba(35,1,54,0.6);
    font-size: var(--fs-12); 
    font-weight: var(--fw-semibold);
}


/* Pagination */
.pagination {
    margin-top: 30px;
    margin-bottom: 0px;
    list-style-type: none;
    align-items: center;
}
.pagination li {
    margin: 0px 5px;
    color: var(--color-white);
}
.pagination li .page-number {
    font-size: var(--fs-20);
    font-weight: var(--fw-normal);
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: var(--color-white);
    display: block;
    border-radius: 100%;
    border: 1px solid transparent;
}
.pagination li .page-number:hover, .pagination li .page-number.current {
    border: 1px solid var(--color-primary);
}
.pagination li .page-number.previous, .pagination li .page-number.next {
    color: var(--color-primary);
}
.pagination li .page-number.disabled {
    cursor: auto;
    opacity: 0.5;
}

/* Use this markup based on above css */
/* <ul class="pagination">
    <li><a class="disabled page-number previous" href="#"><i class="ion-ios-arrow-thin-left"></i></a></li>
    <li><span class="page-number current">1</span></li>
    <li><a class="page-number" href="#">2</a></li>
    <li>.....</li>
    <li><a class="page-number" href="#">9</a></li>
    <li><a class="page-number next" href="#"><i class="ion-ios-arrow-thin-right"></i></a></li>
</ul> */


/* Button Style */
.btn-group{
    position: relative;
    z-index: 1;
    display: block;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn,
.btn-group .btn {
    border-radius: 5px;
}
.btn-group .btn:not(:last-child) {
    margin-right: 15px;
}
/* Button One */
.btn{
    position: relative;
    width: auto;
    display: inline-block;
    font-family: var(--font-family-base);
    font-size: var(--fs-12); 
    font-weight: var(--fw-bold);
    line-height: var(--fs-24);
    text-align: center;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    padding: 11px 35px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: 0px !important;
    cursor: pointer;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn.dark {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn::before {
    content: '';
    position: absolute;
    left: -150%;
    bottom: -150%;
    background-color: rgba(255, 255, 255, 0.6);
    width: 150%;
    height: 150%;
    transform: rotate(45deg);
    border-radius: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn:hover::before {
    left: 150%;
    bottom: 150%;
}

.btn-check:focus + .btn, .btn:focus,
.btn:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);
    box-shadow: none;
}

.btn-check:focus + .btn.dark, .btn.dark:focus,
.btn.dark:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-color: var(--color-secondary);
    box-shadow: none;
}


/* Button Two */
.btn-2 {
    position: relative;
    width: auto;
    display: inline-block;
    font-family: var(--font-family-base);
    font-size: var(--fs-14); 
    font-weight: var(--fw-medium);
    line-height: var(--fs-16);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    padding: 12px 30px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 0px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn-2::before,
.btn-2::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.btn-2::before {
    top: 0;
    left: 0;
}
.btn-2::after {
    bottom: 0;
    right: 0;
}
.btn-2:hover::before,
.btn-2:hover::after {
    width: 100%;
    height: 100%;
}
.btn-2:hover::before {
    border-top-color: var(--color-primary);
    border-right-color: var(--color-primary);
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}
.btn-2:hover::after {
    border-bottom-color: var(--color-primary);
    border-left-color: var(--color-primary);
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}