.section-header {
    position: relative;
    margin-bottom: var(--space-60);
}
.section-header .section-sub-title {
    font-family: var(--font-family-base);
    font-size: var(--fs-14);
    font-weight: var(--fw-semibold);
    line-height: var(--fs-28);
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: var(--color-secondary);
}

.section-header .section-title {
    font-size: var(--fs-40);
    font-weight: var(--fw-medium);
    line-height: var(--fs-50);
    text-transform: capitalize;
    letter-spacing: 0px;
    color: var(--color-white);
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-header .section-desc {
    font-size: var(--fs-14);
    font-weight: var(--fw-normal);
    text-transform: capitalize;
    line-height: 24px;
}